<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chapter.user %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @chapter.api_key %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
